# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Local Database
db.sqlite3
.env

# Media uploaded by users
media/

# Editor settings
.vscode/
.idea/